body {
  padding: 10px;
  font-family: sans-serif;
}

#reinitializeBtn {
  background-color: #C82333;
}

#reinitializeBtn:hover {
  background-color: #DC3545;
}

#reinitializeBtn[disabled] {
  cursor: not-allowed;
  background-color: #EA99A2;
  color: black;
}
.res-circle {

  width: 10%;
  border-radius: 50%;
  background: #bcd6ff;

  line-height: 0;
  position: relative;
}
 
.res-circle::after {
  content: "";
  display: block;
  padding-bottom: 100%;
}
 
.circle-txt {

  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
 
  font-family: arial, sans-serif;
  font-weight: bold;
}
