body {
  padding: 10px;
  font-family: sans-serif;
}

#reinitializeBtn {
  background-color: #C82333;
}

#reinitializeBtn:hover {
  background-color: #DC3545;
}

#reinitializeBtn[disabled] {
  cursor: not-allowed;
  background-color: #EA99A2;
  color: black;
}
